@media all and (max-width: 1000px) {
    .head-right {
        margin-left: 60px;
    }
    .head-wrapper img {
        width: 450px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .produk-list {
        width: 28%;
        margin: 0 auto;
    }
    .produk {
        height: 800px;
        background-size: auto;
    }
    .produk-icon {
        width: 40px;
        padding-left: 10px;
        margin: 0 auto;
    }
    .produk-list p {
        text-align: center;
        width: 130px;
        padding-left: 20px;
    }
    .tentang {
        height: 450px;
    }
    .image img {
        width: 300px;
        height: 400px;
        padding-right: 40px;
    }
    .bot-wrapper {
        padding-top: 100px;
    }
    
}
@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }
    .menu-icon {
        display: block;
        float: right;
    }
    .menu-icon:hover {
        cursor: pointer;
        color: greenyellow;
    }
    .head-right {
        margin-left: 60px;
        width: 80%;
    }
    .head-wrapper {
        height: 1000px;
    }
    .head-wrapper img {
        width: 600px;
        margin: auto;
        padding-left: 40px;
    }
    .layanan {
        height: 800px;
    }
    .list-layanan li {
        width: 50%;
    }
    .list-layanan h2 {
        font-size: 18px;
    }
    .list-layanan p {
        font-size: 12px;
    }
    .produk-list {
        width: 50%;
        margin: 0 auto;
    }
    .produk {
        height: 1200px;
        background-size: auto;
    }
    .produk-icon {
        width: 40px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 30px;
    }
    .produk-list p {
        text-align: center;
        width: 130px;
        padding-left: 20px;
    }
    .tentang {
        height: 820px;
    }
    .image img {
        width: 300px;
        height: 400px;
        padding-right: 40px;
        display: none;
    }
    .bot-wrapper {
        padding-top: 40px;
        background-size: auto;
    }
    .bot-wrapper h1 {
        font-size: 40px;
    }
    .footer {
        height: 600px;
    }
    li .anjae {
        font-size: 20px;
    }
    .copyright {
        font-size: 12px;
    }
}